.navbar {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(315deg, #779ec7,#3e8cde);
    color: white;
    padding: 12px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.left-side {
    display: flex;
    align-items: center;
}

.material-icons{
    color: white;
}

.profile-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: white;
    color: #3e8cde;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-right: 15px;
}

.welcome-message {
    font-size: 18px;
}

.nav-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-button {
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-button .material-icons {
    font-size: 22px;
}

.content {
    padding: 30px;
}
